.addPlantForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  margin: 20px;
  padding: 1em;
  font-family: $font-stack;
  
  .form-fields {
    order: 1; 
    background: transparent;
    width: 100%;
  }
  
  .form-field {
    display: flex;
    margin-bottom: 8px;
    width: 70vw;
    label {
      width: 200px;
      line-height: 40px;
      font-size: 1.5em;
      font-weight: bold;
      color: $text-color;
      margin-right: 40px;
    }
    input, select {
      width: 60vw;
      height: 50px;
      border: 2px solid #307256;
      // border-radius: 10px;
      font-size: 1.5vw;
      color: $text-color;
      padding-left: 1.5%;
      padding-top: .2em;
      padding-bottom: .2em;
      outline: 0;
      border-width: 0 0 2px;
      border-color: $text-color;
      background: transparent;
      cursor: pointer;
    }
  }
  ::placeholder {
    color: #D3D3D3;
  }
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
  input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

  .submitButton {
    display: flex;
    align-self: right;
    cursor: pointer;
    margin-left: auto;
  }

  .uploadWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image-upload {
    display: flex;
    width: 310px;
    height: 310px;
    background-image: url(https://raw.githubusercontent.com/ian-montgomery/ian-montgomery.github.io/master/images/Plant-images/add_plants_2.png);
    background-size: 320px;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

  }
  
  .addImage {
    display: flex;
    align-self: center;
    color: $commonNameFontColor;
    font-size: 2.5em;
    font-weight: bold;
  }

  .imgUpload-input {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 10px;
    padding-left: 50px;
    cursor: pointer;
 
  }


}



