
.form {
  margin: $temp-margin;
  padding: $temp-padding;
  border: 0.5px, solid, $spaceGreyColor;
  display: flex;
  background-color: $backgroundcolor02;
  color: $spaceGreyColor;
  align-content: left;

      .label-input-relations {
        display: flex;
        margin-bottom: 40px;

        .input {
        margin-top: $temp-margin/4;
        display: block;
        font-size: 0.025 rem;
        line-height: 50px;
        padding-left: 20px;
        font-size: 18px;
      }
        .label {
        margin-left: 20px;
        margin-top: 10px;
        margin: $temp-margin, 0px, $temp-margin, 0px;
        padding: $temp-padding, $temp-padding, $temp-padding, 0px;
        font-size: x-large;
      }
    }
      .dropDown-wrapper {


        .label {
          margin-left: 20px;
          margin-top: 10px;
          margin: $temp-margin, 0px, $temp-margin, 0px;
          padding: $temp-padding, $temp-padding, $temp-padding, 0px;
          font-size: x-large;
        }
        
        .select {
        margin: 10px;
        margin-right: 20vw;
        margin-left: 250px;
        padding: 5px;
        font-size: x-large;
       }
      }
      
      .submitButton {
       margin-top: $temp-margin/2;
       margin-left: 550px;
       padding: $temp-padding/2.5;
       font-weight: bold;
       border: 1.5px solid;
       border-radius: 15px 15px;
      }
    }
    .addImage-Holder {
      // X: 960px;
      // Y: 425px;
      // width: 357px;
      // height: 357px;
      // X Constraint: Left;
      // Y Constraint: Top;
      // Stroke: Solid
      // #086972;
      // Align: Inside;
      // Width: 1px;
      
      .addImage {
        width: 181px;
        height: 104px;
        left: 1056px;
        top: 543px;
      
        font-family: Lora;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 61px;
        text-align: center;
      
        color: #086972;
      }
}
