.home {
  height: 75vw;
  background-color: $background-color;
  display: block;
  padding: 50px 0px 0px 50px;

  div h2 {
    font-size: $font-large * 2;
  }

  h3 {
    font-weight: Normal;
  }
  P {
    font-size: $font-medium * 2;
    font-weight: Normal;
    margin-left: $temp-margin * 3;
  }
}

.main-img {
  //margin-top: 4vw;
  float: right;
  height: 45vw;
}

.plant-div {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

// .plant-img {
//   display: block;
//   border: 3px solid #307256;
//   border-radius: 35px;
// }

// .img-div {
//   border: 3px solid #307256;
//   border-radius: 35px;
//   width: 30vw;
//   height: 30vw;
//   position: relative;
// }

// .pic {
//   height: 30vw;
//   width: 30vw;
//   position: relative;
//   border-radius: 35px;
// }

// .head {
//   margin-top: -2vw;
// }

// span {
//   display: block;
//   width: 33px;
//   height: 4px;
//   margin-bottom: 5px;
//   position: relative;
//   background: #307256;
//   border-radius: 3px;
// }

div {
  display: block;
}

/* .one{
    background-image: url("
    https://www.thespruce.com/thmb/9PICtNPcU3yIk9uaeUNuKBLtFRA=/3038x3038/smart/filters:no_upscale()/how-to-determine-sunlight-levels-for-houseplants-1402652-01-a5b73a78040c41b9b87e6cd4fc33fa03.jpg");
    border: 3px solid #307256;
    border-radius: 35px;
    height: auto;
  }
  .two{
    height: 20px;
    width: 20px;
    border: 3px solid #307256;
    border-radius: 35px;
    padding-top: 2vw;
  }
  .three{
    height: 20px;
    width: 20px;
    border: 3px solid #307256;
    border-radius: 35px;
    padding-top: 2vw;
  } */
