//LEARNING SASS AS I GO, BARE WITH ME - JESS
.home {
  height: 75vw;
  background-color: $background-color;
  display: block;
  padding: 2.5vw 0px 0px 2.5vw;
  font-weight: bold;

  .homeBanner {
    font-family: $font-stack;
    //H2 AND H3 WILL BE TURNED INTO AN SVG
    h2 {
      font-size: $font-large * 2;
      margin-left: 6vw; //120px
    }

    h3 {
      font-weight: Normal;
      font-size: $font-medium * 2;
      margin-left: 6vw; //120px
    }

    P {
      font-size: $font-medium * 2;
      margin-left: $temp-margin * 3;
      color: $text-color;
    }
  }
}

.main-img {
  //margin-top: 4vw;
  float: right;
  height: 45vw;
}
