// .main-individual-plant {

//   background-color: #E5E5E5;
// }

.individ-plant-main {
  font-family: $font-stack;
  display: block;
  box-sizing: border-box;
  align-content: center;
  margin: $temp-margin;
     
     .individual-plant-header {
      font-family: $font-stack;
      color: $secondary-color;
      font-size: $font-Xlarge;
      margin: 0;
     }

      hr {
        border: 1px solid #086972;
      }
      .commonName {
        font-weight: bold;
        color: $commonNameFontColor;
        font-size: 3rem;
        padding-bottom: 0;
      }
      .speciesName {
        padding-left: 3rem;
        font-style: italic;
        padding-top: 0;
      }
    }
  
.careDetailWrapper {
  display: flex;
  float: left;
  margin-left: $temp-margin;
  margin-bottom: 2rem;

  .individual-plant-image {
      max-width: 40vw;
      max-height: 40vw;
      display: block;
      float: left;
      border-radius: 50%;
    }

    .careDetail {
      font-size: $font-body-paragraph; // DISPLAY PURPOSE ONLY
      padding: $temp-padding;
    }
    .individ-plant-details {
      list-style: none;
      margin-left: $temp-margin;

      li {
        padding-bottom: .5rem;
        font-size: 30px;
        position: relative;
        color: $text-color;
        
        .tooltip-text {
          visibility: hidden;
          width: 120px;
          // bottom: 25%;
          // left: 50%;
          margin-left: -45px;
          background-color: rgb(8, 105, 114, 0.5);
          color: $secondary-color;
          text-align: center;
          padding: 5px 0;
          border-radius: 10px;
          position: absolute;
          z-index: 1;
        }
      }

      li:hover .tooltip-text {
        visibility: visible;
        cursor: none;
      }

      i {
        font-size: 2.5rem;
      }

      .style {
        width: 8px;
        height: auto;
        padding-right: 4rem;
      }

      .style-special {
        padding-right: .6rem;
      }
    }
}


.navy {
  box-sizing: border-box;
  font-weight:bolder ;
  font-size: $font-medium;
  font-family: $font-stack;
  margin: $nav-margin;

  .style-leaf {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 10px;
  }
}

.navy-link {
  margin-top: 1px;
  margin-left: 5px;
  color: $text-color;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
  border-radius: 30px;
  border: 2.5px solid $text-color;
  padding: $btn-padding;
}

.navy-link:hover
{
    color: $btn-hover-color;
    //border: 3px solid $btn-hover-color;
  }