

.individ-plant-main {
  font-family: $font-stack;
  display: block;
  align-content: center;
  background-color: $backgroundcolor01; // DISPLAY PURPOSE ONLY
  margin: $temp-margin; // DISPLAY PURPOSE ONLY
  padding: $temp-padding; // DISPLAY PURPOSE ONLY

      .commonName {
        font-weight: bold;
        color: $commonNameFontColor;
        background-color: $backgroundcolor02; // DISPLAY PURPOSE ONLY
        padding: $temp-padding;
      }
      .spciesName {
        background-color: $backgroundcolor03; // DISPLAY PURPOSE ONLY
        padding: $temp-padding;
      }
      img {
        width: 50vh;
        display: block;
        float: left;
      }

      .careDetailWrapper {
        display: block;
        float: left;
        margin-left: $temp-margin;

        .careDetail {
          font-size: $font-body-paragraph; // DISPLAY PURPOSE ONLY
          background-color: $backgroundcolor02; // DISPLAY PURPOSE ONLY
          padding: $temp-padding;

          p {
            font-size: $font-body-paragraph;
            background-color: $backgroundcolor03; // DISPLAY PURPOSE ONLY
          }
          ul {
            background-color: $backgroundcolor04; // DISPLAY PURPOSE ONLY
            margin-left: $temp-margin;
            list-style: none;
          }
        }
      }
    }
