.plant-wrapper{
  max-height: 10vh;
  position: relative;
  
}

// .user-plant-main{
//   .even{

//   }
//   .odd{

//   }
// }

// .user-common{
//   color: red;
// }

.user-plant-image{
  max-height: 5vh;
}
//
// .user-offical-name{}

// .user-plant-details{}

.plant-deets{
  display: inline-block;
}