@import '_vars.scss';

$homepage-margin:100px;

.home { 
  height: 100vw;
  display: block;
  background-color: $background-color;
  margin: $homepage-margin/2, $homepage-margin, 0px, $homepage-margin;
}

h2 {
  color: $secondary-color;
  margin-left: 5vw;
  font-size: 10vw;
  width: 50vw;
}

.main-img {
  margin-top: 4vw;
  float: right;
  height: 45vw;
}

.main {
  margin-top: 4vw;
}

