@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
// @import 'hortense.scss';
@import "individualPlant.scss";
@import "addPlantForm.scss";
//@import "homePageJesse.scss";
@import"homepage.scss";
@import"nav-home.scss";


$backgroundcolor01: #f8f7de;
$backgroundcolor02: #d35d6e;
$backgroundcolor03: #d0e8f2;
