$nav-margin: 1.5vw; //homepage
$btn-padding: 1vw ; //universal buttons?

.nav {
  box-sizing: border-box;
  font-weight: bolder;
  font-size: x-large;
  font-family: $font-stack;
  background-color: $background-color;
  justify-content: space-between;
  height: 14vh;
  width: 100%;

  //STICKY NAV BAR ATTEMP
  //position: fixed; /* Set the navbar to fixed position */
  //top: 0; /* Position the navbar at the top of the page */
  //width: 100%; /* Full width */
}
.nav-link {
  // margin-top: 1px;
  // margin-left: 5px;
  margin: $nav-margin;
  padding: $btn-padding;

  color: $text-color;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;

  //SIGN IN/ SIGN OUT **** COME BACK TO TRIPLE CHECK !!!
  border-radius: 100px;
  border: 2.5px solid $text-color;
  float: right;
}

.nav-link:hover {
  color: $btn-hover-color; // CHANGED FOR NOW DUE TO STICKY NAV BAR

}

.active {
  display: inline-block;
  //line-height: 0.85;
}

.L-Logo {
  margin: 24px;
  width: 30px;
  float: left;

  i {
    color: $text-color;
    font-size: 44px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 25px;
 
  }
  i:hover{
    color: $btn-hover-color;
     
  }
  }




// a:hover {
//   color: #faecc9;
//   border: 3px solid #faecc9;
// }
