
.profile-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  border: 5px;
  padding: 5px;
  margin: 5px;
}

.each-profile {
  justify-content: center;
  border: 0px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  // border-radius: $borderRadius;
  // box-shadow: $box-shadow;
}

 .profile-picture {
  text-align: center;
  border: 0px;
  padding: 5px;
  margin: 5px;
  
  img {
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    width: 250px;
    border-radius: 200px;
    box-shadow: $box-shadow;
}
 }

 .profile-name-plate {
  // display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  .name {
    font-size: $font-small; 
    padding: 2px;
  }
  .species {
    font-style: italic;
    font-size: $font-small; 
    padding: 2px;
}
 }
 .button-plate {
  text-align: right;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
    button {
      font-size: $font-small; 
      flex: right;
      padding: 2px;
    }
 }