
 h1{
  color: #307256;
  // margin-top: 3vw;
  // margin-left: 3vw;
}
h2 {
  color: $secondary-color;
  margin-left: 5vw;
  font-size: 10vw;
  width: 50vw;
}

h3{
  color: #faecc9;
  font-size: 2.8vw;
  width: 70vw;
  margin-left: 7vw;
  line-height: 4vw;
}
a {
  margin-top: 2vw;
  /* margin-left: 65vw; */
  display: inline-block;
  padding-left: 2vw;
  padding-right: 2vw; 
  border-radius: 35px;
  color: #307256;
  letter-spacing: .1em;
  line-height: 70px;
  text-transform: uppercase;
  text-decoration: none;
  right: 0;
  bottom: 0;
  border: 3px solid #307256;
}

a:hover{
  color: #faecc9;
  border: 3px solid #faecc9;
}